
<br/>
<section class="" style="color:#131717;">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-white"
    style="background-color: #0e5d65">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Money Plant</h5>
            
            <ul class="list-unstyled mb-0">
              <li>Blog</li>
              <li>Help & Support</li>
              <li>Terms & Condition</li>
              <li>Disclaimer</li>
            </ul>

          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Explore</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Advisor</a>
              </li>
              <li>
                <a href="#!" class="text-white">Consulting Companies</a>
              </li>
              <li>
                <a href="#!" class="text-white">Learners Corner</a>
              </li>
              <li>
                <a href="#!" class="text-white">Top Investment</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Explore</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Advisor</a>
              </li>
              <li>
                <a href="#!" class="text-white">Consulting Companies</a>
              </li>
              <li>
                <a href="#!" class="text-white">Learners Corner</a>
              </li>
              <li>
                <a href="#!" class="text-white">Top Investment</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0">Top Courses</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-white">Financial Markets</a>
              </li>
              <li>
                <a href="#!" class="text-white">Master of Management</a>
              </li>
              <li>
                <a href="#!" class="text-white">Money Management</a>
              </li>
              <li>
                <a href="#!" class="text-white">Stock Markets</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(9, 9, 9, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">All Rights Reserved</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>

